#batteryicon{
    padding-right: 22px;
    padding-left: 22px
}

ion-label{
    text-align:center;
}

#titleBold {
    font-weight: bold;
}

ion-list {
    text-align: center;
}

ion-title {
    text-align: center;
}

#sleeptext{
    font-style: italic;
    font-size-adjust:inherit;
    font-size: smaller;
    text-align: center;
}

ion-range{
    max-width:500px;
    min-width: 325px;
}

#stanfordText {
    font-style: italic;
    font-weight: bold;
}

ion-button{
    color: gold;
}
